<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.CartMapper">
	<select id="getListMain" resultType="com.it.domain.CartmainVO">
		SELECT * FROM tblcartmain order by cm_code desc
	</select>
	
	<select id="getListSub" resultType="com.it.domain.CartsubVO">
		SELECT * FROM tblcartsub order by cs_code desc
	</select>
	
	<select id="getListCart" resultType="com.it.domain.CartsubVO">
		SELECT * FROM tblcartsub WHERE cm_code = #{cm_code}
	</select>
	
	<select id="getListCartDetail" resultType="com.it.domain.CartdetailDTO">
		SELECT cs.cs_code, p.p_code, p.p_name, p.p_price, cs.cs_cnt, p.p_price*cs.cs_cnt cs_money
		FROM tblcartsub cs, tblproduct p 
		WHERE p.p_code = cs.p_code
		AND cs.cm_code = #{cm_code}
	</select>
	
	<select id="getCartTotal" resultType="com.it.domain.CartmemberDTO">
		SELECT sum(p.p_price*cs.cs_cnt) as cm_total 
		FROM tblcartsub cs, tblproduct p 
		WHERE p.p_code = cs.p_code
		AND cs.cm_code = #{cm_code}
	</select>
	
		
	<select id="readMain" resultType="com.it.domain.CartmainVO">
		SELECT * FROM tblcartmain WHERE #{cm_code}
	</select>
	
	<select id="readMainID" resultType="com.it.domain.CartmainVO">
		SELECT * FROM tblcartmain WHERE m_id = #{m_id}
	</select>
					
	<select id="readSub" resultType="com.it.domain.CartsubVO">
		SELECT * FROM tblcartsub WHERE cs_code = #{cs_code}
	</select>
	
	<select id="readSubProduct" resultType="com.it.domain.CartsubVO">
		SELECT * FROM tblcartsub WHERE cm_code = #{cm_code} and p_code = #{p_code}
	</select>
	
	<insert id="insertMain">
		INSERT tblcartmain(m_id) VALUES (#{m_id})
	</insert>

	<insert id="insertSub">
		INSERT tblcartsub(cm_code, p_code, cs_cnt) VALUES (#{cm_code}, #{p_code}, #{cs_cnt})
	</insert>
	
	<update id="updateSub">
		UPDATE tblcartsub SET cs_cnt = #{cs_cnt} WHERE cs_code = #{cs_code}
	</update>

	<delete id="deleteMain">
		DELETE FROM tblcartmain WHERE cm_code = #{cm_code}
	</delete>
	
	<delete id="deleteSub">
		DELETE FROM tblcartsub WHERE cs_code = #{cs_code}
	</delete>
	
	<delete id="deletesuball">
		DELETE FROM tblcartsub where cm_code = #{cm_code}
	</delete>
		
</mapper>