<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.ProductMapper">

	<select id="getList" resultType="com.it.domain.ProductVO">
		select * from tblproduct2 order by p_code desc limit #{pageAmount} offset ${(pageNum-1)*pageAmount};
	</select>
	
	<insert id="insert">
		insert into tblproduct2 (p_name, p_price, p_file)
		values (#{p_name}, #{p_price}, #{p_file})
		
	</insert>
	
	<select id="read" resultType="com.it.domain.ProductVO">
		select * from tblproduct2 where p_code = #{p_code}
	</select>
 
	<update id="update">
		update tblproduct2 set p_name = #{p_name}, p_price = #{p_price}
		where p_code = #{p_code}
	</update>
	
	<delete id="delete">
		delete from tblproduct2 where p_code = #{p_code}
	</delete>
	
	<select id="getTotalCount" resultType="int">
		select count(p_code) from tblproduct; 
	</select>
	
</mapper>