<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.OrderMapper">
	<insert id="insertMain">
		INSERT INTO tblordermain (m_id) values (#{m_id})
	</insert>

	<insert id="insertSub">
		INSERT INTO tblordersub (om_code, p_code, os_cnt)
		VALUES (#{om_code}, #{p_code}, #{os_cnt})
	</insert>

	<select id="readMainID" resultType="com.it.domain.OrdermainVO">
		SELECT * FROM tblordermain
		WHERE m_id = #{m_id} ORDER BY om_code DESC LIMIT 1
	</select>

	<select id="getOrderdetail"
		resultType="com.it.domain.OrderdetailDTO">
		SELECT os.os_code, p.p_code, p.p_name, p.p_price,
		os.os_cnt, p.p_price*os.os_cnt as os_money
		FROM tblordersub os, tblproduct p
		WHERE os.p_code = p.p_code
		AND os.om_code
		= #{om_code}
	</select>

	<select id="getOrdertotal"
		resultType="com.it.domain.OrdermemberDTO">
		SELECT sum(p.p_price*os.os_cnt) as om_total
		FROM tblordersub os, tblproduct p
		WHERE os.p_code = p.p_code
		and os.om_code = #{om_code}
	</select>
</mapper>